{{#extend "layout"}}
    {{#content "body" mode="append"}}
    {{/content}}

    {{#content "body" mode="append"}}
        <div class="page">
            <div class="page-main">
                <div class="header py-4">
                    <div class="container">
                        <div class="d-flex">
                            <a class="header-brand" href="./index.html">
                                <img src="/demo/brand/tabler.svg" class="header-brand-img" alt="tabler logo">
                            </a>
                            <div class="d-flex order-lg-2 ml-auto">
                                <div class="dropdown">
                                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                        <span class="avatar"
                                              style="background-image: url(/demo/faces/female/25.jpg)"></span>
                                        <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">Hi {{global "user.username"}}</span>
                      <a class="text-muted d-block mt-1" href="/demo/logout" style="float:right">logout</a>
                    </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3 ml-auto">
                                <form class="input-icon my-3 my-lg-0">
                                    <input type="search" class="form-control header-search" placeholder="Search…"
                                           tabindex="1">
                                    <div class="input-icon-addon">
                                        <i class="fe fe-search"></i>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg order-lg-first">
                                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                                    <li class="nav-item">
                                        <a href="/home" class="nav-link"><i class="fe fe-home"></i> Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/roles/manage" class="nav-link"><i class="fe fe-box"></i> Manage Roles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/paths/manage" class="nav-link"><i class="fe fe-image"></i> Manager Route Path</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="my-3 my-md-5">
                    <div class="container">
                        <div class="page-header">
                            <h1 class="page-title">
                                Dashboard
                            </h1>
                        </div>
                        <div class="row row-cards row-deck">
                            <div class="col-sm-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">List Api</h4>
                                    </div>
                                    <table class="table card-table">
                                        {{#each routes}}
                                            <tr>
                                                <td>{{this.dataValues.method}}</td>
                                                <td>{{ this.dataValues.routePath.path }}</td>
                                                <td>
                                                    <a href="/demo/http-request?method={{this.dataValues.method}}&path={{ this.dataValues.routePath.path }}"
                                                       target="_blank">Demo</a></td>
                                            </tr>
                                        {{/each}}
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <form action="/roles/user" method="post">

                                    <div class="card">
                                        <div class="card-header">
                                            <h2 class="card-title">Choose your role</h2>
                                        </div>
                                        <div class="card-body">
                                            <table class="table card-table">
                                                {{#each roles}}
                                                    <tr>
                                                        <td>
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                       name="checkboxRole"
                                                                       value="{{this.dataValues.id}}" {{#ifCond
                                                                        this.dataValues.id 'existsRoleId'
                                                                        ../userRole}}checked {{/ifCond}}>
                                                                <span class="custom-control-label">{{this.dataValues.name}}</span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <a href="/roles/{{this.dataValues.id}}/manage"
                                                               target="_blank">View details</a>
                                                        </td>
                                                    </tr>
                                                {{/each}}

                                            </table>
                                        </div>
                                        <div class="card-footer text-right">
                                            <div class="d-flex">
                                                <button type="submit" class="btn btn-primary ml-auto">Update Role
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
