{{#extend "layout"}}
    {{#content "body" mode="append"}}
        <link href="../assets/css/dashboard.css" rel="stylesheet"/>
        <link href="../assets/plugins/charts-c3/plugin.css" rel="stylesheet"/>
        <link href="../assets/plugins/maps-google/plugin.css" rel="stylesheet"/>
    {{/content}}

    {{#content "body" mode="append"}}
        <div class="page">
            <div class="page-single">
                <div class="container">
                    <div class="row">
                        <div class="col col-login mx-auto">
                            <div class="text-center mb-6">
                                <img src="./demo/brand/tabler.svg" class="h-6" alt="">
                            </div>
                            <form class="card" action="/demo/login" method="post">
                                <div class="card-body p-6">
                                    <div class="card-title">Login to your account</div>
                                    <div class="form-group">
                                        <label class="form-label">Email address</label>
                                        <input type="email" class="form-control" name="username" id="exampleInputEmail1"
                                               aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            Password
                                        </label>
                                        <input type="password" class="form-control" name="password"
                                               id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                    </div>
                                </div>
                            </form>
                            <div class="text-center text-muted">
                                Don't have account yet? <a href="/demo/register">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}